<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>BoomBook Store</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700%7CRaleway:300,400,700%7CPlayfair+Display:700' rel='stylesheet'>

  <!-- Css -->
  <link th:href="@{/user/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/magnific-popup.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/font-icons.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/sliders.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/style.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/animate.min.css}" rel="stylesheet"/>

  <!-- Favicons -->
  <link th:href="@{/user/img/boombook-logo.png}" rel="shortcut icon"></head>
  <link th:href="@{/user/img/apple-touch-icon.png}" rel="apple-touch-icon"></head>
  <link th:href="@{/user/img/apple-touch-icon-72x72.png}" sizes="72x72" rel="apple-touch-icon"></head>
  <link th:href="@{/user/img/apple-touch-icon-114x114.png}" sizes="114x114" rel="apple-touch-icon"></head>
  <link th:href="@{/user/css/theme.css}"  type="text/css" media="all" rel="stylesheet"></head>

  <!-- external olanlar için-->

  <!--

<link rel="stylesheet" type="text/css" href="external/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/jquery.fancybox.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/owl.carousel.css"/>


  -->


</head>

<body class="relative">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>

  <main class="content-wrapper oh">

     <div th:insert="user/navbar :: navbar">

     </div>
    <br> <br> <hr>


    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">

          <div class="col-md-9 catalogue-col right mb-50">

            <!--
            <!- Banner ->
            <div class="banner-wrap relative">
              <img src="https://image.freepik.com/free-vector/abstract-yellow-zoom-lines-empty-background_1017-19834.jpg" alt="" width="875" height="350">
              <div class="hero-holder text-center right-align">
                <div class="hero-lines mb-0">
                  <h1 class="hero-heading absolute white">BoomBook Store</h1>
                  <h4 class="hero-subheading white uppercase">Find yourself in a great book.</h4>
                </div>
              </div>
            </div>
            <!- Banner ->
            -->

            <div class="shop-filter">
               <!-- Sort criteria Form-->
              <form role="form" action="#" class="ecommerce-ordering">
                       <select id="select"  onchange="location += this.value;">
                         <option value="&sortedBy=title"> By Book Name</option>
                         <option value="&sortedBy=authorName">By Author</option>
                         <option value="&sortedBy=priceWithCampaign-high_to_low">Price: high to low</option>
                         <option value="&sortedBy=priceWithCampaign-low_to_high">Price: low to high</option>
                         <!-- <option value="rating">By Rating</option>  -->
                       </select>
                  <!--<div style="padding-top: 10px" align="right" >
                    <input class="btn btn-sm btn-dark" type="submit" id="sort" readonly style="border:0;" value="Filter">
                  </div>-->
              </form>
              <!-- Sort criteria Form-->
            </div>


            <div th:if="${sizeOfTheBooks == 0} " >
              <h1><b style="color: #979797;">There is no book for search criteria...</b></h1>
            </div>
            <div th:if="${sizeOfTheBooks > 0} " >
              <div class="shop-catalogue grid-view">
                <div class="row row-10 items-grid">
                  <div class="col-md-3 col-xs-6" th:each="books:${thebooks}">
                    <div class="product-item">
                      <div class="product-img">
                        <a href="#">
                          <img th:src="${ books.imageURL}" alt="" weight = "277" height="347">
                          <img th:src="${ books.imageURL}" alt="" class="back-img" weight = "277" height="347">
                        </a>

                        <!-- if campaign is bigger than zero, there is sale -->
                        <div th:if="${books?.campaign != null} ">
                          <div class="product-label">
                            <span class="sale">sale</span>
                          </div>
                        </div>
                        <!-- if campaign is bigger than zero, there is sale -->

                        <div class="product-actions">
                          <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                            <i class="fa fa-exchange"></i>
                          </a>
                          <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                            <i class="fa fa-heart"></i>
                          </a>
                        </div>
                        <a href="#" class="product-quickview">Quick View</a>
                      </div>
                      <div class="product-details">
                        <h3 th:text="${books.authorName}">

                        </h3>
                        <h3>
                          <a class="product-title" href="shop-single-product.html" th:text="${books.title}"></a>
                        </h3>
                        <span class="price">

                        <!-- Price if else for campaign -->
                        <div th:if="${books?.campaign} ">
                              <del>
                                <span class="ammount" th:text="${books.price}+'$'"></span>
                              </del>
                              <ins>
                                  <span th:text="${books.price - books.campaign.discountPercentage* books.price/100}+'$'"></span>
                              </ins>
                        </div>
                        <div th:unless="${books?.campaign}">
                              <ins>
                                <span class="ammount" th:text=" ${books.price}+'$'"></span>
                              </ins>
                        </div>

                      </span>
                      </div>
                    </div>
                  </div>

                </div> <!-- end row -->
              </div> <!-- end grid mode -->
              <div class="clear"></div>
              <!-- Pagination -->
              <div class="pagination-wrap">
                <p class="result-count">Showing: 1-12 of 80 results</p>
                <ul class="nav nav-pills">

                  <li class="nav-item" th:each="i : ${#numbers.sequence(0,(thebooks.totalPages)-1)}" >

                    <a th:href="@{/searchpage/listbooks/(page=${i})}" th:text="${i}" class="nav-link"> </a>

                  </li>
                </ul>
              </div>
            </div>


          </div> <!-- end col -->

          <!-- Sidebar -->
          <aside class="col-md-3 sidebar left-sidebar">

            <!-- Categories -->

           <!--  <div class="widget categories">
              <h3 class="widget-title uppercase">Categories</h3>
              <ul class="list-no-dividers">
                <li>
                  <a href="#">Women2</a>
                </li>
                <li class="active-cat">
                  <a href="#">Men</a>
                </li>
                <li>
                  <a href="#">Accessories</a>
                </li>
                <li>
                  <a href="#">Bags</a>
                </li>
                <li>
                  <a href="#">Watches</a>
                </li>
                <li>
                  <a href="#">Shoes</a>
                </li>
              </ul>
            </div> -->
		<section class="section-wrap">
		<div class="row">

			  <!-- Accordions -->
			  <div class="col-sm-11">
				<div class="panel-group accordion mb-50" id="accordion">

                  <!-- collapse -->
				  <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" style="color: black"> Categories <span>&nbsp;</span> </a>

                    <div class="panel panel-default" th:each="category:${theCategories}">
                      <div class="panel-heading">
                        <a th:href="@{/searchpage/listbooks/(clickedCategoryId=${category.id})}" th:text="${category.title}" class="plus"></a>

                        </a>
                      </div>
                      <div class="panel-collapse collapse in">
                        <div class="panel-body" th:each="subcategory:${category.subcategoryList}">
                          <!-- input form to send subcategory id which is clicked by user to get book that has the id -->
                            <a th:href="@{/searchpage/listbooks/(clickedSubcategoryId=${subcategory.id})}" th:text="${subcategory.title}"></a>
                        </div>

                      </div>
                    </div>


                    <!-- general category -->
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a th:href="@{/searchpage/listbooks/(clickedGeneralCategory=1)}" >General</a>
                      </div>
                      <div class="panel-collapse collapse in">
                        <div class="panel-body" >
                          <!-- input form to send subcategory id which is clicked by user to get book that has the id -->
                          <a th:href="@{/searchpage/listbooks/(clickedCampaignCategory=1)}" >Campaign</a>
                        </div>

                      </div>
                    </div>




				  </div>
                  <!-- collapse -->



			  </div> <!-- end accordions -->
          </div>
        </div>
	</section>
            <!-- Types of books -->
            <!--<div class="widget categories">
              <h3 class="widget-title uppercase">Types of Books</h3>
              <ul class="list-no-dividers">
                <li>
                  <a href="#">Fiction</a>
                </li>
                <li>
                  <a href="#">Nonfiction</a>
                </li>
              </ul>
            </div>-->

            <!-- Filter by Price -->
            <div class="widget filter-by-price clearfix">
              <h3 class="widget-title uppercase">Filter by Price</h3>

              <div id="slider-range"></div>
              <p>
                <label for="amount">Price:</label>

                <input data-slider-min="0" data-slider-max="20" data-slider-value="[0,20]" type="text" id="amount"  style="border:0;">
                <a href="#" class="btn btn-sm btn-dark">Filter</a>
              </p>
            </div>

            <!-- Bestsellers -->
            <div class="widget bestsellers">
              <div class="products-widget">
                <h3 class="widget-title uppercase">Bestsellers</h3>
                <ul class="product-list-widget">
                  <li class="clearfix">
                    <a href="shop-single-product.html">
                      <img src="img/covid.jpg" alt="">
                      <span class="product-title">Koronavirüs El Kitabı</span>
                    </a>
                    <span class="price">
                      <ins>
                        <span class="ammount">$120.00</span>
                      </ins>
                    </span>
                  </li>
                  <li class="clearfix">
                    <a href="shop-single-product.html">
                      <img src="img/game.jpg" alt="">
                      <span class="product-title">Game Of Thrones</span>
                    </a>
                    <span class="price">
                      <ins>
                        <span class="ammount">$179.00</span>
                      </ins>
                    </span>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Tags -->
            <div class="widget tags clearfix">
              <h3 class="widget-title uppercase">Tags</h3>
              <a href="#">History</a>
              <a href="#">Creative</a>
              <a href="#">Sports</a>
              <a href="#">Horror</a>
              <a href="#">Modern</a>
              <a href="#">Responsive</a>
              <a href="#">E-commerce</a>
              <a href="#">Economy</a>
              <a href="#">Game</a>
              <a href="#">Store</a>
              <a href="#">Business</a>
            </div>

          </aside> <!-- end sidebar -->

        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end catalogue -->


    <!-- Footer Type-1 -->
    <footer class="footer footer-type-1 bg-white">
      <div class="container">
        <div class="footer-widgets top-bottom-dividers pb-mdm-20">
          <div class="row">

            <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
              <div class="widget footer-links">
                <h5 class="widget-title uppercase">Information</h5>
                <ul class="list-no-dividers">
                  <li><a href="#">Our stores</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Business with us</a></li>
                  <li><a href="#">Delivery information</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
              <div class="widget footer-links">
                <h5 class="widget-title uppercase">Help</h5>
                <ul class="list-no-dividers">
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Track order</a></li>
                  <li><a href="#">F.A.Q</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Returns</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
              <div class="widget footer-links">
                <h5 class="widget-title uppercase">Account</h5>
                <ul class="list-no-dividers">
                  <li><a href="#">My account</a></li>
                  <li><a href="#">Wishlist</a></li>
                  <li><a href="#">Order history</a></li>
                  <li><a href="#">Special gifts</a></li>
                  <li><a href="#">Track order</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h5 class="widget-title uppercase">about us</h5>
                <p class="mb-0">A-ha Shop is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine.</p>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget footer-get-in-touch">
                <h5 class="widget-title uppercase">Contact</h5>
                <address class="footer-address"><span>Address:</span> Philippines, PO Box 620067, Talay st. 66, A-ha inc.</address>
                <p>Phone: <a href="tel:+1-888-1554-456-123">+ 1-888-1554-456-123</a></p>
                <p>Email: <a href="mailto:themesupport@gmail.com">themesupport@gmail.com</a></p>
                <div class="social-icons rounded mt-20">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                </div>
              </div>
            </div> <!-- end stay in touch -->

          </div>
        </div>
      </div> <!-- end container -->

      <div class="bottom-footer bg-white">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copyright sm-text-center">
              <span>
                &copy; 2017 Aha Shop, Made by <a href="http://deothemes.com">DeoThemes</a>
              </span>
            </div>

            <div class="col-sm-6 col-xs-12 footer-payment-systems text-right sm-text-center mt-sml-10">
              <i class="fa fa-cc-paypal"></i>
              <i class="fa fa-cc-visa"></i>
              <i class="fa fa-cc-mastercard"></i>
              <i class="fa fa-cc-discover"></i>
              <i class="fa fa-cc-amex"></i>
            </div>
          </div>
        </div>
      </div> <!-- end bottom footer -->
    </footer> <!-- end footer -->

    <div id="back-to-top">
      <a href="#top"><i class="fa fa-angle-up"></i></a>
    </div>

  </main> <!-- end main container -->


  <!-- jQuery Scripts -->
  <script type="text/javascript" th:src="@{/user/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/user/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/user/js/plugins.js}"></script>
  <script type="text/javascript" th:src="@{/user/js/scripts.js}"></script>





</body>
</html>
